Port 22

HostKey /etc/ssh/keys/ssh_host_rsa_key
AuthorizedKeysFile /etc/ssh/keys/authorized_keys

AllowUsers git

# Support SSH.NET 
HostKeyAlgorithms +ssh-rsa,rsa-sha2-512,rsa-sha2-256
PubkeyAcceptedAlgorithms +ssh-rsa,rsa-sha2-512,rsa-sha2-256

PermitRootLogin no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PasswordAuthentication no
PubkeyAuthentication yes
